@font-face {
    font-family: 'Cupid Love';
    src: url('fonts/cute_love-webfont.woff2') format('woff2'),
         url('fonts/cute_love-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cupid Thai';
    src: url('Thaifont/PhakchiThin-Regular.woff2') format('woff2'),
         url('Thaifont/PhakchiThin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hwb(53 52% 0%);
    margin: 0;
    }

.home-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
    }

.home {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 50px;
    }
    
.home-icon {
    width: 60px;
    height: 60px;
    transition: 0.3s;
    z-index: 1000;
    opacity: 0.7;
    filter: brightness(80%);
    }
    
.home-icon:hover {
    opacity: 0.7;
    filter: brightness(200%);
    }


.header_text {
    font-size: 75px;
    font-weight: normal;
    color: rgb(76, 69, 69);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.liteh_text {
    font-size: 60px;
    font-weight: normal;
    color: rgb(76, 69, 69);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

a {
    text-align: center;
    text-decoration: none;
    border: none;
    /*color: #ffffff;
    background-color: #FFB6C1; */
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 60px;
    text-align: center;
    /*border: 1px solid rgb(76, 69, 69);*/
}

.header_text, .liteh_text, a {
    font-family: "Cupid Love", Arial, sans-serif;
}

#linkmessage3 {
    max-width: 200px;
    height: auto; 
    font-size: 20px;
    /*text-align: center;*/
    color: #ffffff;
    background-color: #FFB6C1;
    padding: 12px 15px;
    /*margin-top: 60px;*/
    margin: auto;

}

.container {
    text-align: center;
}

/*.linkmessage3 {
    padding: 10px 35px;
} */

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

img {
   margin-bottom: 25px;

}


.footer {
    font-family:'Cupid Love', Arial, sans-serif;
    font-size: 20px;
    color: rgb(76, 69, 69);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    transform: translateY(230%);
    }
    
.footer a {
    display: inline;
    margin: 0;

    }
    
.instagram {
    font-size: 30px;
    color: rgb(76, 69, 69);
    background-color: transparent;
    padding: 0;
    }


@media (max-width: 1024px) {

    #linkmessage3 {
    font-size: 50px;
    max-width: 300px; 
    max-height: 250px;
    padding: 12px 15px;

    }

    .gif_container {
        margin-top: 60px;
    }



}

@media (min-width: 768px) and (max-width: 1024px) {
    /* for tablets */

  }



@media (min-width: 1024px) {
    a {
        font-size: 20px;
    }

    .header_text {
        margin-top: 10px;
        font-size: 40px;
    }

    .liteh_text {
        font-size: 30px;
    }

    .text_1 {
        margin-top: 177px;

    }

    .gif_container { 
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    body {
        height: 90vh;
    }

    img {
        height: 30vh;
    }

    #linkmessage3 {
        font-size: 30px;
        max-width: 200px; 
        height: auto;
        padding: 8px 8px;


    /*.btn {
        padding: 10px 35px;
        font-size: 25px;
        margin: 0px 100px;
    }*/

    .home-icon {
        width: 50px;
        height: 50px;
        transform: translateY(-50%);
    }

    .footer a {
        font-size: 24px;
    }

    }
    .home-icon {
        width: 50px;
        height: 50px;
    }

}

/* @media (min-width: 1440px) {
    /*#linkmessage3 {
        transform: translateX(64%);
        font-size: 50px;
        max-width: 300px; 
        max-height: 250px;
        padding: 12px 15px;
    
        }
}*/
